body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  height: 100vh;
}

.Navbar {
  background-color: blueviolet;
  display: flex;
  height: 10%;
}
.logo-icon {
  flex-grow: 3;
}
.Register {
  flex-grow: 2;
}
.SignIn {
  flex-grow: 2;
}
.Home {
  height: 75%;
}
.Footer {
  background-color: grey;
  height: 15%;
}
