body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  height: 100vh;
}

.Navbar {
  background-color: blueviolet;
  display: flex;
  height: 10%;
}
.logo-icon {
  flex-grow: 3;
}
.Register {
  height: 73%;
}
.SignIn {
  height: 73%;
}
.Home {
  height: 73%;
  overflow-y: scroll;
}
.Footer {
  background-color: grey;
  height: 17%;
}
.left-footer {
  display: inline-block;
}
.right-footer {
  display: inline-block;
  float:right;
}

.each-slide {
  height :50vh;
  width :100vw;
}
.slide-content div {
  top: 0px;
  left:0px;

}
.slide-content div img {
  height :50vh;
  width :100vw;
  opacity: 0.3;
}

/* 

this is temporary
*/

.posts-list {
  width:70%;
  margin-left: 8%;
}
.post-wrapper {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  background: #fff;
}
.post-header {
  padding: 10px 10px;
}
.post-avatar {
  display: flex;
}
.post-avatar > div {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.post-avatar img {
  height: 40px;
}
.post-avatar .post-author {
  color: #616161;
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.post-avatar .post-time {
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9e9e9e;
}
.post-content {
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #424242;
  margin-top: 15px;
}
.post-actions {
  padding: 5px;
  display: flex;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #616161;
  border-right: none;
  border-left: none;
}
.post-actions img {
  height: 18px;
}
.post-actions img:hover {
  cursor: pointer;
}
.post-like {
  display: flex;
  align-items: center;
}
.post-comments-icon {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.post-like span,
.post-comments-icon span {
  margin-left: 7px;
}
.post-comment-box {
  padding: 10px 10px;
}
.post-comment-box input {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  padding: 5px;
}
.post-comment-box input:focus {
  outline: none;
}
.post-comments-list {
  padding: 5px 10px;
  position: relative;
}
.post-comment-item {
  background: #eceffa;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 14px;
}
.post-comment-header {
  display: flex;
}
.post-comment-header .post-comment-author {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}
.post-comment-header .post-comment-time {
  font-size: 12px;
  line-height: 16px;
  color: #9e9e9e;
  margin-left: 8px;
}
.post-comment-header .post-comment-likes {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  margin-left: 8px;
}
.post-comment-content {
  margin-top: 7px;
}
.post-comments-list .comment-like {
  position: absolute;
  right: 21px;
  top: 13px;
}
.post-comments-list .comment-like img {
  height: 20px;
}
.post-comments-list .comment-like img:hover {
  cursor: pointer;
}

/* 

*/
.friend_list {
  position: fixed;
  height:73vh;
  width: 15vw;
  top:10vh;
  left:85vw;
}
@keyframes scrolling{
  0% {transform: translateX(15vw);}
}